#footer {
  position: fixed;
  width: 20%;
  background-color: rgb(255, 0, 0);
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border-radius: 5px;
  border: 4px dashed #ccc;
  font-weight: bold;
  cursor:default;
}
  